#{extends '/UserOper/left.html' /}
#{set title:'Home' /}
<div class="span9">
<!--Title -->
<h2 style="margin-bottom: 25px">
				日照元和登录密码修改
</h2>

<form class="form-horizontal" id="frm" name="frm" action="/UserOper/savePassWord" method="post">
  <input type="hidden" name="user.id" value="${user?.id}" />

   <div class="control-group">
    <label class="control-label">原密码:</label>
    <div class="controls">
      <input id="password" type="text" name="password"  placeholder="请输入原密码" >
      <div id="passwordTip"> </div>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">新密码:</label>
    <div class="controls">
      <input id="newPass" type="text" name="newPass"  placeholder="请输入新密码" >
      <div id="newPassTip"> </div>
    </div>
  </div>
  
     <div class="control-group">
    <label class="control-label">确认新密码:</label>
    <div class="controls">
      <input id="surePass" type="text" name="surePass"  placeholder="请确认新密码" >
      <div id="surePassip"> </div>
    </div>
  </div>
  
  <div class="control-group">
        #{if flash.get("error")!=null}
			<label class="btn btn-success disabled">
				提示:${flash.get("error")}
			</label>
		#{/if}
		#{else}
		    <label class="btn btn-warning disabled">
		  		修改密码前，请先输入当前登录密码，防止被错误修改
			</label>
		#{/else}
  </div>

  <div class="control-group">
      <button class="btn" id="sub" type="submit">确认修改</button>
  </div>
</form>
</div>     
