#{extends '/defaults/Main.html'/}
#{set page_title: '首页' /}
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>
<div class="center">
  <div id="banner">
       <ul class="submenu left">
          <li><a href="#" target="_blank">Dumbbell</a></li>
          <li><a href="#" target="_blank">Weight Plate</a></li>
          <li><a href="#" target="_blank">Bar</a></li>
          <li><a href="#" target="_blank">Kettle Bell</a></li>
          <li><a href="#" target="_blank">Crossfit Items</a></li>
          <li><a href="#" target="_blank">Racks&amp;Bench</a></li> 
          <li><a href="#" target="_blank">Ankle Weights&amp;Mat</a></li> 
          <li><a href="#" target="_blank">Other Items</a></li> 
       </ul>
       <div id="slider-wrapper">
            <div id="slider" class="nivoSlider">
                <a href="#" target="_blank"><img src="@{'/public/tn/img/banner.jpg'}" width="651" height="310" title=""/></a>
                <a href="#" target="_blank"><img src="@{'/public/tn/img/banner1.jpg'}" width="650" height="310" title="" /></a>
                <a href="#" target="_blank"><img src="@{'/public/tn/img/banner2.jpg'}" width="650" height="310" title=""/></a>
                <a href="#" target="_blank"><img src="@{'/public/tn/img/banner3.jpg'}" width="650" height="310" title="" /></a>
            </div>
            <div id="htmlcaption" class="nivo-html-caption"> </div>
        </div>
    </div>
  <div class="scroll" id="a0">
    <dl class="block" id="feature">
     <div class="con">
        <div id="botton-scroll">
            <ul class="featureUL">
              <li class="featureBox">
                  <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/power.jpg'}" width="148" height="154">
              </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/power.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/power.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/power.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/power.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/power.jpg'}" width="148" height="154">
                </li>
              *{<li class="featureBox">}*
                  *{<a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="img/PullupRigs-th.jpg" width="148" height="154">}*
              *{</li>}*
              *{<li class="featureBox">}*
                  *{<a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/rowers-th.jpg" width="148" height="154">}*
              *{</li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/Speed_agility-th_1.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/squat.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/PullupRigs-th.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/rowers-th.jpg" width="148" height="154"></li>}*
              
           </ul>
         </div>
     </div>
     <A class="prev" href="javascript:void();">Previous</A>
     <A class="next" href="javascript:void();">Next</A> 
	</dl>  
    <dl id="feature1">
     <div class="con">
        <div id="botton-scrolla">
            <ul class="featureUL">
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/PullupRigs-th.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/PullupRigs-th.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/PullupRigs-th.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/PullupRigs-th.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/PullupRigs-th.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/PullupRigs-th.jpg'}" width="148" height="154">
                </li>
                *{}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="img/PullupRigs-th.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="img/power.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/rowers-th.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/Speed_agility-th_1.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/squat.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/PullupRigs-th.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/rowers-th.jpg" width="148" height="154"></li>}*
           </ul>
         </div>
     </div>
     <A class="prev" href="javascript:void();">Previous</A>
     <A class="next" href="javascript:void();">Next</A> 
	</dl>
    <dl id="feature2">
     <div class="con">
        <div id="botton-scrollb">
            <ul class="featureUL">
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/rowers-th.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/rowers-th.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/rowers-th.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/rowers-th.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/rowers-th.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/rowers-th.jpg'}" width="148" height="154">
                </li>
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/rowers-th.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="img/PullupRigs-th.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="img/power.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/Speed_agility-th_1.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/squat.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/PullupRigs-th.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/rowers-th.jpg" width="148" height="154"></li>}*
           </ul>
         </div>
     </div>
     <A class="prev" href="javascript:void();">Previous</A>
     <A class="next" href="javascript:void();">Next</A> 
	</dl>
    <dl id="feature3">
     <div class="con">
        <div id="botton-scrollc">
            <ul class="featureUL">
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/squat.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/squat.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/squat.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/squat.jpg'}" width="148" height="154">
                </li>
                <li class="featureBox">
                    <a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="@{'/public/tn/img/squat.jpg'}" width="148" height="154">
                </li>
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/Speed_agility-th_1.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="img/PullupRigs-th.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/rowers-th.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG  src="img/power.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/squat.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/PullupRigs-th.jpg" width="148" height="154"></li>}*
              *{<li class="featureBox"><a href="#" target="_blank"><p>ORCA KILLA ADJUST GOOGLE</p></a><IMG src="img/rowers-th.jpg" width="148" height="154"></li>}*
           </ul>
         </div>
     </div>
     <A class="prev" href="javascript:void();">Previous</A>
     <A class="next" href="javascript:void();">Next</A> 
	</dl>
  </div>
  <ul class="menu_a" id="b0">
     <li onclick="setTab(0,0)" class="hover">FEATURED GEAR</li>
     <li onclick="setTab(0,1)">NEWEST GEAR</li>
     <li onclick="setTab(0,2)">MADE IN THE USA</li>
     <li onclick="setTab(0,3)">3 SHIPS FREE</li>
   </ul>
  <div id="mainbody">
    <div class="mpic m20" style="background:url(@{'/public/tn/img/cms_hmft-rigs.jpg'}) no-repeat left top;">
        <h1><a href="#" target="_blank">DUMBBELL</a> </h1>
        <a href="#" target="_blank"><img src="@{'/public/tn/images/go-btn-lg.png'}" width="51" height="50" border="0"></a>
      </div>  
    <div class="mpic1 m30" style="background:url(@{'/public/tn/img/cms_hmft-rigs.jpg'}) no-repeat left top;">
        <h1><a href="#" target="_blank">Weight Plate </a> </h1>
        <p><a href="#">Monster Series</a> / <a href="#">Monster Lite Series</a> / <a href="#">Infinity Series</a> / <a href="#">Echo Series</a></p>
        <a href="#" target="_blank"><img src="@{'/public/tn/images/go-btn-lg.png'}" width="51" height="50" border="0"></a>
      </div>
    <ul class="mlist1 m30">
       <li style="background:url(@{'/public/tn/img/cms_hmft-apparel.jpg'}) no-repeat">
         <h3><a href="#">APPAREL</a></h3>
         <a href="#"><img src="@{'/public/tn/images/go-btn-lg.png'}" width="51" height="50"> </a>
       </li>
       *{<li style="background:url(img/cms_hmft-athletes.jpg) no-repeat">}*
         *{<h3><a href="#">WEIGHTLIFTING SHOES</a></h3>}*
         *{<a href="#"><img src="images/go-btn-lg.png" width="51" height="50"> </a>}*
       *{</li>}*
       *{<li style="background:url(img/cms_hmft-facility4.jpg) no-repeat">}*
         *{<h3><a href="#">JUMP ROPES</a></h3>}*
         *{<p>JUMP ROPES SR-1 / SR-1S / SR-2 / SR-3</p>}*
         *{<a href="#"><img src="images/go-btn-lg.png" width="51" height="50"> </a>}*
       *{</li>}*
       *{<li style="background:url(img/cms_hmft-jumprope.jpg) no-repeat">}*
         *{<h3><a href="#">GIFT CERTIFICATES</a></h3>}*
         *{<p>The Prefect Gift</p>}*
         *{<a href="#"><img src="images/go-btn-lg.png" width="51" height="50"> </a>}*
       *{</li>}*
    </ul>
    <div class="mpic1 m30" style="background:url(@{'/public/tn/img/cms_hmft-rigs.jpg'}) no-repeat left top;">
        <h1><a href="#" target="_blank">Rack&amp;Bench </a> </h1>
        <a href="#" target="_blank"><img src="images/go-btn-lg.png" width="51" height="50" border="0"></a>
    </div>
    <div class="mpic1 m30" style="background:url(@{'/public/tn/img/cms_hmft-rigs.jpg'}) no-repeat left top;">
        <h1><a href="#" target="_blank">Ankle Weights&amp;Mat</a> </h1>
        <a href="#" target="_blank"><img src="images/go-btn-lg.png" width="51" height="50" border="0"></a>
    </div>
    <div class="mpic1 m30" style="background:url(@{'/public/tn/img/cms_hmft-rigs.jpg'}) no-repeat left top;">
        <h1><a href="#" target="_blank">Kettle Bell</a> </h1>
        <a href="#" target="_blank"><img src="images/go-btn-lg.png" width="51" height="50" border="0"></a>
    </div>
    <div class="links m20">
      <div class="linktitle">
         <strong>BRANDS WE CARRY</strong>
       </div>
       <ul>
         <li><a href="#"><img src="@{'/public/tn/img/2771.png'}" width="140" height="100"></a></li>
          <li><a href="#"><img src="@{'/public/tn/img/2683.png'}" width="140" height="100"></a></li>
         *{<li><a href="#"><img src="img/2683.png" width="140" height="100"></a></li>}*
         *{<li><a href="#"><img src="img/2811.png" width="140" height="100"></a></li>}*
         *{<li><a href="#"><img src="img/2797.png" width="140" height="100"></a></li>}*
         *{<li><a href="#"><img src="img/2857.png" width="140" height="100"></a></li>}*
         *{<li><a href="#"><img src="img/6255.png" width="140" height="100"></a></li>}*
         *{<li><a href="#"><img src="img/6647.png" width="140" height="100"></a></li>}*
         *{<li><a href="#"><img src="img/6709.png" width="140" height="100"></a></li>}*
         *{<li><a href="#"><img src="img/6733.png" width="140" height="100"></a></li>}*
         *{<li><a href="#"><img src="img/6747.png" width="140" height="100"></a></li>}*
         *{<li><a href="#"><img src="img/6647.png" width="140" height="100"></a></li>}*
         *{<li><a href="#"><img src="img/6709.png" width="140" height="100"></a></li>}*
       </ul>
    </div>
  </div>
</div>

